*.suo
*.sdf
Debug
Release
ipch

IFC

adv/Debug
adv/Release
adv/*.aps
adv/*.user

AdVisuo/Debug
AdVisuo/Release
AdVisuo/*.aps
AdVisuo/*.user

AdVisu~1/Debug
AdVisu~1/Release

advsrv/bin
advsrv/obj

advtest/Debug
advtest/Release
advtest/*.aps
advtest/*.user

ifctest/Debug
ifctest/Release
ifctest/*.aps
ifctest/*.user



